.card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 250px;
  height: 170px;
  border: solid 1px black;
}
.card__title {
}
.card__id {
}
.card__xcont {
  display: flex;
  justify-content: flex-end;
}
.card__x {
  &:hover {
    fill: red;
  }
}
